@import './dasar.css';

#aplikasi {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.merah {
  text-decoration: none;
  color: var(--merah-haxuv);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--hover-bg);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
  }

  #aplikasi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}